project-root/folder_structure_diagram_pz3.md
project-root/folder_structure_diagram.md
Запись 2025-06-18 162218.mp4
project-root/backend/__pycache__/app.cpython-313.pyc
project-root/backend/__pycache__/config.cpython-313.pyc
project-root/backend/structures/__pycache__/models.cpython-313.pyc
project-root/backend/structures/__pycache__/views.cpython-313.pyc
